@using MUNityClient.Models.Simulation;
@using System.Linq; 

@inject MUNityClient.Services.SimulationService simulationService;
@inject NavigationManager navigationManager;
@* Dies ist eine Teilnehmendenansicht an dieser Stelle werden den Nutzern Rollen zugewiesen bzw. können sich diese ihre Rollen auswählen. *@
@if (SimulationContext?.Simulation != null)
{
    <div class="row col-12 m-0 p-0">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="/sim/home" class="btn btn-danger btn-sm">Raum verlassen</a> @SimulationContext.Simulation.Name
                </div>
                <div class="card-body p-0">
                    @if (SimulationContext.MyAuth.CanCreateRole)
                    {
                        <AdminUserList SimulationContext="@SimulationContext"></AdminUserList>
                    }
                    else
                    {
                        <DefaultUserList SimulationContext="@SimulationContext"></DefaultUserList>
                    }
                </div>
                @*
                    Rollenerstellung vorerst deaktiviert. Arbeite halt mit den Presets...
                <div class="card-footer">
                    @if (Auth != null && Auth.CanCreateRole)
                    {
                        <button class="btn btn-block btn-success">Rolle hinzufügen</button>
                    }
                </div>
                *@
            </div>
        </div>

        @if (SimulationContext.MyAuth.CanCreateRole)
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Einstellungen
                    </div>
                    <div class="card-body">
                        @if (_presets != null && _presets.Any() && SimulationContext.MyAuth.CanCreateRole)
                        {
                            <div class="form-group">
                                <label>Vorlage</label>
                                <select @bind="SelectedPresetId" class="form-control">
                                    <option value="null">-</option>
                                    @foreach (var preset in _presets)
                                    {
                                        <option value="@preset.Id">@preset.Name</option>
                                    }
                                </select>
                                @if (SelectedPreset != null)
                                {
                                    <small class="text-danger">Achtung die Vorlage überschreibt einen Großteil der Einstellungen</small>
                                    <br />
                                    <small>Staaten: </small>
                                    <small>@string.Join(", ", SelectedPreset.Roles.Select(n => n.Name))</small>
                                }
                            </div>
                            @if (SelectedPreset != null)
                            {
                                <div class="form-group">
                                    <button class="btn btn-block btn-primary" @onclick="() => ActivatePreset()">Vorlage Anwenden</button>
                                </div>
                            }
                        }

                    </div>
                    <div class="card-footer">
                        @if (SimulationContext.MyAuth != null && SimulationContext.MyAuth.CanCreateRole)
                        {
                            <button class="btn btn-block btn-success" @onclick="() => StartPhase()">Starten</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <MUNityClient.Shared.Bootstrap.Spinner DisplayText="Lobby wird geladen" />
}


@code {
    [Parameter]
    public Services.SocketHandlers.SimulationContext SimulationContext { get; set; } = null;

    private IEnumerable<Models.Simulation.SimulationPreset> _presets { get; set; }

    private Models.Simulation.SimulationPreset SelectedPreset { get; set; }

    private string SelectedPresetId
    {
        get => SelectedPreset?.Id ?? "";
        set => SelectedPreset = _presets.FirstOrDefault(n => n.Id == value);
    }

    private int SelectedRole
    {
        get => SimulationContext.Simulation.Users.FirstOrDefault(n => n.SimulationUserId == SimulationContext.MyAuth.SimulationUserId).RoleId;
        set
        {
            SelectRole(value);
        }
    }

    private async Task StartPhase()
    {
        var response = await this.simulationService.SetPhase(SimulationContext.Simulation.SimulationId, (int)MUNity.Schema.Simulation.SimulationEnums.GamePhases.Online);
    }

    

    private async Task ActivatePreset()
    {
        if (SimulationContext.Simulation != null)
        {

            await this.simulationService.ApplyPreset(SimulationContext.Simulation.SimulationId, SelectedPresetId);
            SimulationContext.Simulation.Roles = await this.simulationService.GetRoles(SimulationContext.Simulation.SimulationId);
        }
    }

    protected async override Task OnInitializedAsync()
    {
        if (SimulationContext.Simulation != null)
        {
            AppendEvents(SimulationContext);
            this._presets = await this.simulationService.GetPresets();
        }

        //return base.OnInitializedAsync();
    }

    private void AppendEvents(MUNityClient.Services.SocketHandlers.SimulationContext context)
    {
        context.PhaseChanged += PhaseChanged;
    }

    private void PhaseChanged(int sender, MUNity.Schema.Simulation.SimulationEnums.GamePhases phase)
    {
        if (phase == MUNity.Schema.Simulation.SimulationEnums.GamePhases.Online)
        {
            navigationManager.NavigateTo($"/sim/run/{SimulationContext.Simulation.SimulationId}");
        }
    }

    private async Task SelectRole(int roleId)
    {
        await this.simulationService.PickRole(SimulationContext.Simulation.SimulationId, roleId);
    }
}
