@inject Services.SimulationService simulationService;
@inject IJSRuntime JS;

<tr class="table-row align-items-center">
    @if (User.DisplayName != null)
    {
        <td>@User.DisplayName</td>
    }
    else
    {
        @* funktioniert aktuell nicht, die Anzeige ist einfach leer *@
        <td>KEIN NAME</td>
    }

    <td>@User.IsOnline</td>
    <td class="pointer" @onclick="CopyUserIDToClippboard" title="Klicken zum kopieren">@User.PublicId</td>
    @if (Roles != null)
    {
        <td>
            <select class="form-control">
                <option value="-2">Keine Rolle</option>
                @foreach (var role in Roles)
                {
                    <option value="@role.SimulationRoleId">@role.Name</option>
                }
            </select>
        </td>
    }
    else
    {
        <td>Rollen werden geladen/Keine Rollen gefunden</td>
    }
    <td class="pointer" @onclick="CopyPasswordToClippboard" title="Klicken zum kopieren">
        @if (PasswordShown)
        {
            @User.Password
        } else {
            <span>********</span>
        }
    </td>
</tr>
@code {
    [Parameter]
    public MUNity.Schema.Simulation.SimulationUserSetup User { get; set; }

    [Parameter]
    public int SimulationId { get; set; }

    [Parameter]
    public List<MUNity.Schema.Simulation.SimulationRoleItem> Roles { get; set; }
    
    [Parameter]
    public Boolean PasswordShown { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Roles == null)
        {
            this.Roles = await this.simulationService.GetRoles(SimulationId);
        }

    }

    private void CopyPasswordToClippboard(){
        JS.InvokeAsync<string>("navigator.clipboard.writeText", @User.Password);
    }
    private void CopyUserIDToClippboard(){
        JS.InvokeAsync<string>("navigator.clipboard.writeText", @User.PublicId);
    }
}

<style>
    .pointer {
        cursor: pointer;
    }
</style>